.container{
  margin: 10px 8%;
}

.Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo img{
  height: 50px;
}


.heroHeader{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 600;
}

.addNoteBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title box-icon{
  cursor: pointer;
}

.skeletonLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.searchInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .p-inputtext{
    width: 200px;
  }
  .card-title h2{
    font-size: 1rem;
  }
  .cardContent{
    font-size: .9rem;
  }
  .p-card .p-card-body{
    padding: .8rem;
  }
  .p-card .p-card-content{
    padding: .8rem 0;
  }
  .p-dialog {
    width: 74vw !important;
  }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  }




